{% load static %}
<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Acceuil</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>To-Do App</h1>
    <ul>
            <div class="flexbox">
                <ul>
               
                </ul>
            </div>
    </ul>
    <header>
        <ul class="menu">
            <li><a href="http://127.0.0.1:8000/tasks/">Liste des tâches</a></li>
            <li><a href="http://127.0.0.1:8000/create/">Créer une  tâche</a></li>
            <li><a href="http://127.0.0.1:8000/selected-update/">Modifier une tâche</a></li>
            <li><a href="http://127.0.0.1:8000/selected-delete/">Supprimer une tâches</a></li>
        </ul>
    </header>
    </div>
</body>
</html>
